
.btn-read-more { 
  border: 2px solid #fdb900; 
}

.btn-read-more:hover {
  background: #fdb900;
  
}
.btn-read-more-fill{
 background: #fdb900;
  border: 2px solid #fdb900;
 
} 
.submit {
  background: #fdb900;
  border: 2px solid #fdb900;
  
}

.btn-read-more-transparent {
  border: 2px solid #fdb900;  
}

.btn-error:hover {
  background: #fdb900;
 
}
.btn-shopnow {
  background: #fdb900;
 
  border: 2px solid #fdb900;
 
}

.btn-cart {
  background: #fdb900;
 
  border: 2px solid #fdb900;
 
}

.btn-download {

  border: 2px solid #fdb900;
 
}

.btn-checkout {
  background: #fdb900; 
  border: 1px solid #fdb900; 
}

.section-title-area .title-bottom-icon .title-bottom-border
{

  background: #fdb900;
 
}

.section-title-area .title-bottom-icon i {
  color: #fdb900;
  
}

.section-sub-title-big:after {
  
  background: #fdb900;
 
}

.section-sub-title a:hover {
  color: #fdb900;
 
}
.section-sub-title:after {
  
  background: #fdb900;
 
}

.sub-title a:hover {
  color: #fdb900;

}

.title-bar:after {
  
  background: #fdb900;
 
}

.sidebar-search-title:after {
  background: #fdb900;
 
}

.sidebar-title:after {
  background: #fdb900;
  
}

.header-bennar-area .header-bennar-right ul li a {
  color: #fdb900;

}

.mypagination li a:hover {
  background: #fdb900;
  
}

.header-top-area .header-top-left ul li i {
  color: #fdb900;
  
}

.header-top-area .header-top-right ul li a {
  color: #fdb900;
 
}

.header-style2-area .header-top-area {
  background: #fdb900;
}
.header-style2-area .header-top-area {
  background: #fdb900;
}

.header-style2-area .header-top-area .header-top-right ul li a:hover {
  color: #fdb900;
}


.header-style3-area .main-header-area {
  background: #fdb900;
}

.header-style4-area .header-top-area {
   background: #fdb900;
  
}

.header-style4-area .header-top-area .header-top-right ul li a:hover {
  color: #fdb900;
}

.header-style4-area .header-top-area .header-top-left ul li a:hover {
  color: #fdb900;
}

.header-style4-area .main-header-area .my-search-style .input-group-addon button i {
  color: #fdb900;
}

.header-style3-area .stick {
  background: #fdb900;
 
}

.mean-container .mean-nav ul li a:hover {
  color: #fdb900;
}

.preview-1 .slider-1 h1 span {
  color: #fdb900;
}

.preview-1 .slider-1 .read-more ul li a {
  background: #fdb900;
    color: #3a3a3a;
}

.preview-1 .slider-2 h1 span {
  color: #fdb900;
}

.preview-1 .slider-2 .read-more ul li a {
  background: #fdb900;
  
}

.preview-1 .slider-3 h1 span {
  color: #fdb900;
}

.preview-1 .slider-3 .read-more ul li a {
  background: #fdb900;
  
}

.preview-2 .slider-1 p span i:before {
  color: #fdb900;

}
.preview-2 .slider-1 h1 {
  
}
.preview-2 .slider-1 h1 span {
  color: #fdb900;
}

.preview-2 .slider-2 p span i:before {
  color: #fdb900;
 
}

.preview-2 .slider-2 h1 span {
  color: #fdb900;
}

.preview-2 .slider-3 p span i:before {
  color: #fdb900;
 
}

.preview-2 .slider-3 h1 span {
  color: #fdb900;
}


.preview-2 .slider-1 .read-more ul li a {
  background: #fdb900;
  
}

.preview-3 .slider-1 h1 span {
  color: #fdb900;
}

.preview-3 .slider-2 h1 span {
  color: #fdb900;
}

.preview-3 .slider-3 h1 span {
  color: #fdb900;
}



.preview-3 .slider-3 .read-more ul li a {
  background: #fdb900;
 
}

.service-box {
  background: #fdb900;
}

 .services-2-bottom h3 a:hover {
  color: #fdb900;

}
.services-2-bottom h3:after {
  
  background: #fdb900;
 
}

 .services-4-area-left-bottom-box i:before {
  color: #fdb900;
  
}

 .services-4-area-left-bottom-box h3:after {
  background: #fdb900;
 
}
.services-4-area-left-bottom-box:hover {
  background: #fdb900;
  
  border: 1px solid #fdb900;
}



.page-services-1-top-area .services-1-top-inner ul li a i:before {
  color: #fdb900;
  
}
.page-services-1-top-area .services-1-top-inner ul .active a {
  border: 1px solid #fdb900;
  background: #fdb900;
  
}

.page-services-1-project-activation-area {
  background: #fdb900;
 
}

.page-services-2-box .media > a i:before {
  color: #fdb900;
 
}
.page-services-2-box .media > a:hover {
  background: #fdb900;
}



.page-services-6-box .media > a {
 
  background: #fdb900;
 
}

.page-services-6-box .media > a:hover i:before {
  color: #fdb900;
  
}

.page-services-4-box > a {
 
  background: #fdb900;
  
}

.page-services-4-box > a:hover i {
  color: #fdb900;
 
}


.page-services-4-box h3 > a:hover {
  color: #fdb900;
 
}
.page-services-4-box h3:after {
 
  background: #fdb900;
  
}

.about-area .about-left h2 span {
  color: #fdb900;
}

.about-area .about-left ul li i:before {
  color: #fdb900;
  
}

.about-2-area .about-2-left h2 span {
  color: #fdb900;
}

.about-2-tab-area ul li a:hover {
  background: #fdb900;
  border: 1px solid #fdb900;
  
}

.about-2-tab-area ul li span:after {
  border-top: 7px solid #fdb900;
  
}

.about-2-tab-area ul .active a {
  background: #fdb900;
  border: 1px solid #fdb900;
  
}

.about-3-area .about-3-left .about-3-left-top h2:after {
 background: #fdb900;
  
}

.about-3-area .about-3-details .media .media-body h4 a:hover {
  color: #fdb900;
  
}
.about-3-area .about-3-details .media .media-body h4:after {
  background: #fdb900;
 
}

.about-4-area .about-4-left h2 span {
  color: #fdb900;
}

.about-4-area .about-4-left .about-4-tab-area ul li a:hover {
  background: #fdb900;
  border: 1px solid #fdb900;
 
}

.about-4-area .about-4-left .about-4-tab-area ul li span:after {
  
  border-top: 7px solid #fdb900;
  
}

.about-4-area .about-4-left .about-4-tab-area ul .active a {
  background: #fdb900;
  border: 1px solid #fdb900;
 
}


.page-about-us-area .page-about-us-left h2:after 
{
 
  
  background: #fdb900;
}

.page-about-us-details-area .page-about-us-details-box > a {

  background: #fdb900;

}

.page-about-us-details-area .page-about-us-details-box > a:hover i {
  color: #fdb900;
 
}

.page-about-us-details-area .page-about-us-details-box h3 > a:hover {
  color: #fdb900;
  
}
.page-about-us-details-area .page-about-us-details-box h3:after
 {
 
  background: #fdb900;
  position: absolute;
}

.featured-area .isotop-classes-tab a {
  border: 2px solid #fdb900;
  
  
}
.featured-area .isotop-classes-tab a:hover {
  background: #fdb900;
  border: 2px solid #fdb900;
 
}
.featured-area .isotop-classes-tab .current {
  background: #fdb900;
  border: 2px solid #fdb900;
 
}


.featured-area-lite .isotop-classes-tab a:hover {
  border: 1px solid #fdb900;
  background: #fdb900;
  
}
.featured-area-lite .isotop-classes-tab .current {
  background: #fdb900;
  
}

.isotop-classes-tab a:hover {
  background: #fdb900;
  
}
.isotop-classes-tab .current {
  background: #fdb900;
 
}

.featured-2-area .owl-controls .owl-prev,
.featured-2-area .owl-controls .owl-next {
  
  background: #fdb900;
  
  border: 1px solid #fdb900;
}

.featured-2-area .owl-controls .owl-prev:hover i,
.featured-2-area .owl-controls .owl-next:hover i {
  color: #fdb900;
}

.featured-3-area .isotop-classes-tab a:hover {
  background: #fdb900;
 
}
.featured-3-area .isotop-classes-tab .current {
  background: #fdb900;
 
}

.featured-4-area .isotop-classes-tab a:hover {
  background: #fdb900;

}
.featured-4-area .isotop-classes-tab .current {
  background: #fdb900;
  
}

.clients-area .clients-box .clients-area-top .clients-area-top-content h4 a:hover {
  color: #fdb900;
  
}

.clients-area .clients-box .clients-area-top .clients-area-top-content p:after {
 
  background: #fdb900;
}

.clients-area .owl-controls .owl-dots .active span {
  background: #fdb900;
}
.clients-area .owl-controls .owl-dots .owl-dot:hover span {
  background: #fdb900;
}

.clients-2-area .clients-2-box .clients-area-2-top img {
 
  border: 8px solid #fdb900;
 
}

.clients-2-area .clients-2-box .clients-area-2-top .clients-area-2-top-content h4 a:hover {
  color: #fdb900;

}

.clients-2-area .clients-2-box .clients-area-2-top .clients-area-2-top-content p:after {
  
  background: #fdb900;
}

.clients-2-area .owl-controls .owl-dots .active span {
  background: #fdb900;
}
.clients-2-area .owl-controls .owl-dots .owl-dot:hover span {
  background: #fdb900;
}

.clients-3-area .clients-3-box p a {
  
  color: #fdb900;
}


.news-area .inner-news-box-top .news-published .news-date {
 background: #fdb900;  
}

.news-area .inner-news-box-bottom h4:hover a {
  color: #fdb900;
  
}

.news-3-area .inner-news-3-box-top .news-published .news-date {
   background: #fdb900;  
}

.news-3-area .inner-news-3-box-bottom h4:hover a {
  color: #fdb900;
 
}

.page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-top .news-published .news-date {
  background: #fdb900;
 
}

.page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-bottom h4:hover a {
  color: #fdb900;
  
}

.page-news-details-area .page-news-details-content .page-news-details:hover {
  color: #fdb900;
 
}

.page-news-details-area .page-news-details-content .comments-info li i {
  padding-right: 10px;
  color: #fdb900;
}

.page-news-details-area .page-news-details-content p span:after {
  background: #fdb900;
  
}

.page-news-details-area .page-news-details-tags ul li a:hover {
  color: #fdb900;

}

.page-news-details-area .page-news-details-comments .media .media-body h3 a:hover {
  color: #fdb900;
  
}

.page-news-details-area .page-news-details-comments .media .media-body .replay-area a:hover {
  color: #fdb900;
 
}
.page-news-details-area .page-news-details-comments .media .media-body .replay-area a i:before {
  color: #fdb900;
}

.page-news-details-area .page-news-details-comments .media .media-body .replay-area a i:before {
  color: #fdb900;
}

.page-news-details-comments .comment-edit-link{
	
	color:#fdb900;
	
}

.video-area h2 span {
  color: #fdb900;
}

.video-area a:hover i:before {
  color: #fdb900;
 
}

.video-4-area h2 span {
  color: #fdb900;
}

.video-4-area a:hover i:before {
  color: #fdb900;

}

.projects-1-featured-area .isotop-classes-tab a:hover {
  background: #fdb900;
 
}
.projects-1-featured-area .isotop-classes-tab .current {
  background: #fdb900;
  
}

.projects-2-featured-area .isotop-classes-tab a:hover {
  border: 1px solid #fdb900;
  background: #fdb900;
  
}
.projects-2-featured-area .isotop-classes-tab .current {
  background: #fdb900;
  
}

.page-project-details-area .page-project-details-bottom ul li i:before {
  color: #fdb900;
 
}

.single_port_navigation .previous_project {
    border: 1px solid #fdb900;
    background: #fdb900;
    
}
.single_port_navigation .next_project {
    border: 1px solid #fdb900;
    background: #fdb900;
    
}

.page-shop-area .inner-shop-top-right ul > li:hover a i {
  color: #fdb900;
}

.page-shop-area .inner-shop-top-right ul > .active i {
  color: #fdb900;
}

.shop-2-box .media-body .shop-2-box-content h4 a:hover {
  color: #fdb900;
  
}

.shop-2-box .media-body .shop-2-box-cart li a:hover {
  background: #fdb900;
  
}

.inner-shop-details .product-details-tab-area ul .active a {
  color: #fdb900;
 
}

.inner-shop-details .related-products .owl-controls .owl-nav .owl-prev:hover,
.inner-shop-details .related-products .owl-controls .owl-nav .owl-next:hover {
  background: #fdb900;
  
}

.team-box h3 a:hover {
  color: #fdb900;
 
}

.team-2-box .media .media-body ul li a:hover {
  background: #fdb900;
  
}

.team-3-area .team-2-box .media .media-body ul li a:hover {
  background: #fdb900;
 
}

.team-details-top-area .team-details-top-area-right .team-details-social li a:hover {
  background: #fdb900;
  
}

.team-details-team-area .owl-controls .owl-nav .owl-prev:hover,
.team-details-team-area .owl-controls .owl-nav .owl-next:hover {
  background: #fdb900;
  
}

.staff_meta_last a{
	color :#fdb900;
}

.get-quote-area .inner-get-quote-area {
  background: #fdb900;
}

.why-choose-us-area .why-choose-us-left .why-choose-us-title h2 span {
  color: #fdb900;
}


.project-activation-area .about-counter-list i {
	color: #fdb900;
   
}

.project-activation-area .about-counter-list h2:after {
  
  background: #fdb900;
 
}

/* counter style 2 */
.project-activation-area-2{
	background: #fdb900;
}


.page-contact-us-area .page-contact-us-left ul li i {
  color: #fdb900;
  
}

.form-response .alert-success {
  background: #fdb900;
  
}

.page-error-area .page-error-top {
  background: #fdb900;
  
}

.sidebar .popular-tags-box ul li a:hover ,  .widget_tag_cloud .tagcloud a:hover,
footer .footer-area-top .widget_tag_cloud .tagcloud a:hover{
  background: #fdb900;
  
}

.sidebar .categories-box ul li a:hover, .widget_categories ul li a:hover ,
 .widget_recent_entries ul li a:hover,  .widget_recent_comments ul li a:hover,
 .widget_meta ul li a:hover, .widget_rss ul li a:hover, .widget_archive ul li a:hover,
 .widget_pages ul li a:hover, .menu .menu-item a:hover
 {
  color: #fdb900;
 
}


caption:after {
 
  background: #fdb900;
 
}

.sidebar .best-seller-box li .media .media-body h4 a:hover {
  color: #fdb900;
  
}

.sidebar .best-seller-box li .media .media-body p {
  color: #fdb900;
}



.footer-area-top .twitter-feed li a:hover {
  color: #fdb900;
}

.footer-area-top .corporate-address li i {
  color: #fdb900;
  
}

.footer-area-bottom a {
  color: #fdb900;
}


.main-header-area .main-menu-area nav ul .active > a {
  color: #fdb900 !important;
}

.main-header-area .main-menu-area nav ul li a:hover {
  color: #fdb900;
 
}

.main-header-area .main-menu-area nav ul li ul {
 
  background: #fdb900;
  
}

.cart-area > a {
  color: #fdb900;
  
}

.cart-area > ul > li .media .cart-content ul li h4 a {
  color: #fdb900;
 
}

.site-title:hover{
	color : #fdb900;
}

.bg-theme-color{
	background: #fdb900;
	
}

.page-numbers:hover, .page-numbers.current {
  background-color: #fdb900;
 
}


.page-numbers:hover, .page-numbers.current {
    background: #fdb900 !important;
   
}

.wpsm_theme_accordion .panel-title > a{
    background:#fdb900;
  
}

.wpsm_theme_accordion .panel-title > a:hover{
    background:#fdb900;
   
}

/*button */
.wpshopmart-button {
	
    background-color: #fdb900;
   
}
.preview-1 .nivo-controlNav a:hover, .preview-1 .nivo-controlNav a.active {
    background:#fdb900;    
}
.preview-2 .nivo-controlNav a:hover, .preview-2 .nivo-controlNav a.active {
    background: #ffbe00;   
}
.preview-3 .nivo-controlNav a:hover, .preview-3 .nivo-controlNav a.active {
    background: #ffbe00;
  
}
.preview-4 .nivo-controlNav a:hover, .preview-4 .nivo-controlNav a.active {
    background: #ffbe00;
    cursor: pointer;
}
#scrollUp {
  background-color: rgba(234, 175, 4, 0.5);
}
.page-services-3-box .media .featured-box .overlay { 
  background-color: rgba(234, 175, 4, 0.7);
}
.about-area .about-right .overlay {
	 background-color: rgba(234, 175, 4, 0.5);	
}

.featured-3-area .featuredContainer .featured-box .overlay,
featured-4-area .featuredContainer .featured-box .overlay2,
.clients-3-area .clients-3-box .clients-3-box-top:hover,
projects-2-featured-area .featuredContainer .featured-box .overlay2,
.shop-1-box .overlay,
.team-details-top-area .img-back-side .overlay,
.featured-6-box .overlay2 .overlay-top,
.featured-2-box .overlay2 .overlay-top,
.featured-area-lite .featuredContainer .featured-box .overlay2,
.featured-area .featuredContainer .featured-box .overlay2,
.services-2-top .overlay2 {
	background-color: rgba(234, 175, 4, 0.8);
}
.preview-1 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-1 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-2 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-3 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-3 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-4 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-4 .nivo-directionNav a.nivo-nextNav:hover:before{
	background: rgba(234, 175, 4, 0.4);
}

.header-bennar-area .header-bennar-right ul li a:hover {
    color: #fdb900;
}
#scrollUp:hover, #scrollUp:focus {
    background-color: rgba(234, 175, 4, 0.8);
}
.wpcf7-submit{
	    background: #fdb900;
		 border: 2px solid #fdb900;
}
.projects-2-featured-area .featuredContainer .featured-box .overlay2{
	background-color: rgba(234, 175, 4, 0.7);
}
.projects-1-featured-area .featuredContainer .featured-box .overlay2,
.featured-4-area .featuredContainer .featured-box .overlay2
{
	background-color: rgba(234, 175, 4, 0.8);
}
.main-header-area .logo-area {
    margin-top: 25px;
}
.main-header-area .main-menu-area nav ul li ul > li:hover, .main-header-area .main-menu-area nav ul li ul > li .active{
	background:rgba(0,0,0,0.1);
}
.main-header-area .main-menu-area nav ul li ul > li {
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.main-header-area {
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.stick{
	background: rgba(255, 255, 255, 1);
    margin: 0;
    border-bottom: 0px;
}


.header-style1-area .header-top-area {
    background: #fdb900;
}
.header-top-area .header-top-left ul li i {
    color: #ffffff;
}
.header-top-area .header-top-left ul li a {
    color: #ffffff;
}
.header-top-area .header-top-right ul li a{
	color: #ffffff;
}
.preview-1 .slider-1 .read-more ul li a:hover{
	background:rgba(234, 175, 4, 0.8);
}

.preview-1 .slider-1 .read-more ul li:last-child a:hover {
    background: #fdb900;
    border: 1px solid #fdb900;
}
.main-header-area .main-menu-area nav ul li ul > li:hover a, .main-header-area .main-menu-area nav ul li ul > li .active a{
	color: #ffffff !important;
}
.main-header-area .main-menu-area nav ul li ul > li.active a{
	color: #ffffff !important;
}
.main-header-area .main-menu-area nav ul li ul > li.active{
	background:rgba(0, 0, 0, 0.1);
}
.tagc span {
    color: #222222;
    padding-bottom: 10px;
    display: block;
}
.service-area .row > div .service-box{
	    background: #fdb900;
}
.service-area .row > div .service-box .service-read-more{
	background:rgba(0,0,0,0.1);
}
.service-area .row > div .active {
   
    background:#fdb900;
}
.service-area .row{
	margin-right: 0px;
    margin-left: 0px;
}
.pagination .next, .pagination .prev, .pagination span.current{
	    background: #fdb900;
}

.cz-slider-content{ 

padding: 40px 24px 50px 27px;
    background: rgba(255, 255, 255, 0.8);
	border-top: 4px solid #fdb900;
}

.cz-slider-content h1:before{
	height:0px !important;
	
}
.preview-1 .slider-1 .details-content p{
	color: #404040;
    line-height: 1.6;
}

.preview-1 .slider-1 h1 {
    position: relative;
    color: #050505;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.preview-1 .slider-1 .details-content{
	margin-bottom: 15px;
}


.preview-1 .slider-1 .read-more ul li a{
	padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 0px;
    margin: 10px;   
    margin-left: 0px;
}

.preview-1 .slider-1 .read-more ul li:last-child a {
    background: #000;
    border: 1px solid #000;
   
    padding: 15px 30px;
    text-transform: capitalize;
    border-radius: 0px;
    margin: 10px;
   
}

.service-area .row .col-sm-4:first-child .service-box{
	background: #1e2126 !important;
}

.service-area .row .col-sm-4:last-child .service-box{
	background: #fefefe !important;
}

.service-area .row .col-sm-4:last-child .service-box .service-box-top h3 > a{
	    color: #222222;
}
.service-area .row .col-sm-4:last-child .service-box .service-box-top h3:after{
	background: #222222;
}
.service-area .row .col-sm-4:last-child .service-box .service-box-top i:before{
	    color: #222222;
}
.service-area .row .col-sm-4:last-child .service-box p{
	color: #222222;
}

.service-read-more{
	display:none;
}

.service-area .row .col-sm-4:first-child .service-box:hover h3 > a,
 .service-area .row .col-sm-4:first-child .service-box:hover i:before,
  .service-area .row .col-sm-4:first-child .service-box:hover  p
 {
	color:#fff;
}

.service-area .row .col-sm-4:first-child .service-box:hover h3:after

 {
		background: #fff;
}

.custom-logo{
	width:auto;
	    height: 55px;
}
.main-header-area .main-menu-area nav ul li {
    display: inline-block;
    position: relative;
    padding: 40px 25px;
}
.main-header-area .main-menu-area nav ul{
	text-align:right;
}
.main-header-area .main-menu-area nav ul li:last-child{
	padding-right:0px;
}
.header-top-area {
    padding: 15px 0;
}
.header-top-area .header-top-left ul li i{
	font-size:16px;
}
.header-top-area .header-top-left ul li a{
	font-size:16px;
}
.page-about-us-details-area .page-about-us-details-box > a {
    background: transparent;
}
.page-about-us-details-area .page-about-us-details-box > a:after {
    top: -8px;
    left: -8px;
    position: absolute;
    height: 106px;
    width: 106px;
    border: 4px solid #fdb900;
    border-radius: 50%;
    content: "";
}
.page-about-us-details-area .page-about-us-details-box > a i {
    color: #666666;
    font-size: 45px;
    line-height: 90px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.news-area .inner-news-box-bottom {
    background: transparent;
    padding: 30px 15px 27px 15px;
}
.news-area .inner-news-box-bottom:hover, .page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-bottom:hover {
    box-shadow:none;
}

.news-area .btn-read-more, .page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-bottom .btn-read-more{
    background: #fdb900;
    padding: 14px 30px;
    border: 2px solid #ffbe00;
    text-transform: uppercase;
    color: #404040;
    font-weight: 600;
    border-radius: 0px;
   
}
.footer-area-top {
    background: #fdb900;
    color: #fff;
}

.footer-area-top .sidebar-title:after {
    background: #000;
}

.footer-area-top .sidebar-title:before {
   
    background: #fff;
    
}
.page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-bottom{
	background:transparent;
}
.mypagination li a, .pagination a, .pagination span.current {
    width: 42px;
    font-size: 16px;
    color: #ffffff;
    height: 42px;
    border-radius: 50%;
}
.header-bennar-area .overlay {
    background: rgba(0, 0, 0,0.6);
}
#scrollUp {
    background-color: rgba(0, 0, 0, 0.8);
}